# Python
__pycache__/
*.py[cod]
*$py.class

# Data
# Note: 100Leaves dataset is now tracked
data/processed/
results/
references/


# Logs & Models
logs/
checkpoints/
*.pth
*.log
runs/
experiments/

# System
.DS_Store
.env
.vscode/
.idea/

# Environment
env/
venv/

.agent/
docs/